/****************Tag Selectors***************/

body{
  background-color: #ae7c7c;
}
h1{
  color: #6e3b3b;
  font-size: 50px;
}
img:hover {
  background-color: olive;
}

/*
img{
  background-color: red;
}
*/
/****************Class Selectors***************/
.potato {
  background-color:green;
}
.meat {
  background-color: red;
}
.circular {
  border-radius: 100%;
}

/****************ID Selectors***************/
#heading {
  color: blue;
}
#big {
  font-size: 1000px;
}
